.venv/
__pycache__/
*.pyc

.env
.env.local

vectorstore/*
!vectorstore/.gitkeep

screenshots/answers/*
!screenshots/answers/.gitkeep

screenshots/unknown/*
!screenshots/unknown/.gitkeep

.idea/
.vscode/

.DS_Store
